@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
