.comments {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.comments__item {
  padding: 45px 0 0 0;
  text-align: center;
}

.comments__reviewer-name {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  @include font-title();
  line-height: 30px;
}

.comments__reviewer-info {
  display: none;
}

.comments__review-text {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  @include font-description();
}

@media (min-width: $tablet-width) {
  .comments {
    display: flex;
  }

  .comments__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comments__reviewer-name {
    padding: 0;
    margin: 0 0 10px 0;
  }

  .comments__reviewer-info {
    display: flex;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .comments__review-text {
    order: -25;
  }
}

@media (min-width: $desktop-width) {
  .comments__review-text {
    width: 700px;
  }
}
