.comment {
  display: flex;
  flex-wrap: wrap;
  padding: 23px 23px 25px 32px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.comment__name {
  @include font-title();
  font-size: 14px;
  color: $dark-blue-color;
}

.comment__online {
  padding: 0;
  margin: 0 0 6px 0;

  @include font-description-light();
  font-size: 12px;
  color: $dark-blue-color;
}

.comment__text {
  width: 238px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;

  @include font-description();
  line-height: 24px;
}

.comment__like-link {
  width: 13px;
  margin-right: 19px;

  font-size: 0;
}

.comment__like-quantity {
  padding: 0;
  margin: 0;

  @include font-description();
  font-size: 12px;
  line-height: 24px;
  color: $red-color;
}

@media (min-width: $tablet-width) {
  .comment {
    width: 245px;
  }

  .panorama-comment {
    width: 565px;
  }

  .panorama-comment__comment {
    width: 565px;
  }

  .panorama-comment__online {
    margin-right: 290px;
    order: -14;
  }

  .panorama-comment__name {
    order: -15;
  }

  .panorama-comment__like-link {
    order: -13;
  }

  .panorama-comment__like-quantity {
    order: -12;
  }

  .comment__text {
    width: 510px;
  }

  .comment__like-link {
    order: 1;
  }

  .comment__like-quantity {
    margin-right: 120px;
  }
}

@media (min-width: $desktop-width) {
  .panorama-comment {
    width: 885px;
  }

  .panorama-comment__comment {
    width: 885px;
  }
}
