.competition-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0 0;
  background-color: $white-color;
}

.competition-form__description {
  width: 280px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 40px;

  @include font-description();
  text-align: center;
}

.competition-form__send-btn {
  width: 280px;
  @include font-link();
  line-height: 30px;

  background-color: #2aab6d;
  border: none;
}

.competition-form__recommended-star {
  @include font-form-title();
}

@media (min-width: $tablet-width) {
  .competition-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .competition-form > .container {
    display: flex;
    flex-direction: row;
  }

  .competition-form__description {
    width: 490px;
    padding: 0 65px;

    order: -20;
  }

  .competition-form__send-btn {
    margin-right: 135px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form {
    align-items: flex-start;
  }

  .competition-form > .container {
    justify-content: space-between;
  }

  .competition-form__description {
    width: 760px;
    padding: 0px 90px;
  }
}
