.contacts {
  padding: 45px 0 0 0;
}

.contacts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white-color;

  z-index: 10;
}

.contacts__title {
  padding: 0;
  margin: 0 0 40px 0;

  @include font-description-light();
  font-size: 24px;
  line-height: 30px;
  color: $dark-blue-color;
  text-align: center;
}

.contacts__description {
  margin-bottom: 6px;

  @include font-title();
  color: $dark-blue-color;
}

.contacts__tel,
.contacts__email,
.contacts__adress {
  margin-bottom: 25px;
  @include font-contacts-link();
  text-align: center;
}

.contacts__map {
  position: relative;
  margin-top: -36px;
  width: 100%;
  height: 200px;
  border: none;
  z-index: -5;
}

@media (min-width: $tablet-width) {
  .contacts .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .contacts__information {
    width: 300px;
    text-align: center;
    margin-bottom: 30px;
  }

  .contacts__title {
    width: 380px;
    padding: 0 120px;
    @include header-promo-title();
    color: $dark-blue-color;
  }

  .contacts__description {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .contacts__map {
    position: relative;
    margin-top: -70px;
    width: 100%;
    height: 370px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    padding: 0 230px;
  }
}
