.crazy-achievements {
  padding: 35px 0 42px 0;
  margin: 0;

  background-color: #f2f2f2;

  border: none;
}

.crazy-achievements .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.crazy-achievements__title {
  width: 230px;
  padding: 0 25px;
  margin: 0 0 35px 0;

  @include font-form-title();
  line-height: 18px;
  text-align: center;
}

.crazy-achievements__checkbox {
  margin: 0 31px 45px 0;

  background-color: $white-color;
}

.crazy-achievements__input-description {
  width: 210px;

  @include font-form-input-description();
}

@media (min-width: $tablet-width) {
  .crazy-achievements {
    margin: 0 auto;
    margin-bottom: 60px;

    background-color: $white-color;
    border-left: 2px solid $gray-color;
    border-right: 2px solid $gray-color;
    border-bottom: 2px solid $gray-color;
  }

  .crazy-achievements .container {
    margin-top: -50px;
    justify-content: center;
    align-items: flex-start;
  }

  .crazy-achievements__title {
    width: 390px;
    padding: 0 115px;
  }

  .crazy-achievements__checkbox {
    width: 35px;
    min-height: 35px;
    margin: 0 21px 0 0;

    border: 2px solid $gray-color;
  }

  .crazy-achievements__input-description {
    width: 515px;
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .crazy-achievements__title {
    width: 374px;
    padding: 0 283px;
  }

  .crazy-achievements__input-description {
    width: 250px;
  }
}
