.edit-parameters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 42px 0 28px 0;
  margin: 0;

  list-style: none;
}

.edit-parameters__item {
  display: flex;
}

.edit-btn {
  width: 44px;
}

.edit-parametrs__line {
  width: 240px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .edit-parameters__item {
    flex-wrap: wrap;
  }

  .edit-btn {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .edit-btn {
    width: 410px;
  }
}
