.emotion {
  padding: 37px 0 48px 0;
  margin: 0;

  border: none;
  text-align: center;
}

.emotion .container {
  display: flex;
  flex-wrap: wrap;
}

.emotion__title {
  width: 190px;
  padding: 0 45px;
  @include font-form-title();
}

.emotion__emotion-text-field {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .emotion {
    margin: 0 auto;
    margin-bottom: 60px;

    background-color: $white-color;
    border-left: 2px solid $gray-color;
    border-right: 2px solid $gray-color;
    border-bottom: 2px solid $gray-color;
  }

  .emotion .container {
    margin-top: -50px;
    justify-content: center;
    align-items: flex-start;
  }

  .emotion__title {
    margin-bottom: 35px;
  }

  .emotion__emotion-text-field {
    width: 497px;
    min-height: 190px;
  }
}

@media (min-width: $desktop-width) {
  .emotion__title {
    width: 190px;
    padding: 0 375px;
  }

  .emotion__emotion-text-field {
    width: 820px;
  }
}
