.footer {
  display: none;
}

.footer__htmlacademy-description {
  padding: 0 0 0 76px;
  margin-right: 15px;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
  }

  .footer__htmlacademy-description {
    padding: 0 0 0 22px;
    margin-right: 15px;

    @include font-description();
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .footer__logo {
   margin: 0 170px 0 0;
 }

  .footer__htmlacademy-description {
    padding: 0 0 0 168px;
    margin-right: 15px;

    @include font-description();
    line-height: 18px;
  }
}
