.footer-social {
  display: flex;
  justify-content: center;
  width: 280px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-social__link {
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .footer-social {
    display: flex;
    justify-content: center;
    width: 320px;
    padding: 0;
    margin: 0;
  }

  .footer-social__link {
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer-social {
    width: 300px;
  }
}
