.form-footer {
  display: flex;
  flex-direction: column;
}

.form-footer .container {
  display: flex;
  flex-wrap: wrap;
}

.form-footer .footer__logo {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .form-footer .footer__logo {
    margin: 0;
  }
}
