.form-intro {
  padding: 32px 0 45px 0;
  background-image: url('../../img/bg-back-mobile@2x.jpg');
}

.form-intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-intro__title {
  width: 230px;
  padding: 0;
  margin: 0;

  @include font-title-light();
  text-align: center;
}

@media (min-width: $tablet-width){
  .form-intro__title {
    width: 480px;
  }
}

@media (min-width: $desktop-width){
  .form-intro__title {
    width: 760px;
  }
}
