.full-name {
  display: flex;
  padding: 0;
  margin: 0 0 42px 0;

  border: none;
}

.full-name .container {
  display: flex;
  flex-wrap: wrap;
}

.full-name__input {
  width: 188px;
  padding: 0 68px 0 20px;
  margin: 0 0 23px 0;

  @include font-form-title();
}

.full-name__fieldset {
  padding: 0 0 0 23px;

  @include font-form-title();
}


@media (min-width: $tablet-width) {
  .full-name {
    margin: 0 auto;

    order: -19;
  }

  .full-name__fieldset {
    padding: 0;
    margin: 0 20px 0 0;
  }

  .full-name__input {
    padding: 0;
    margin: 0 0 52px 0;
  }

  .full-name__input-surname {
    width: 521px;
  }

  .full-name__input-name {
    width: 560px;
  }

  .full-name__input-middle-name {
    width: 516px;
  }
}

@media (min-width: $desktop-width) {
  .full-name {
    width: 470px;
  }

  .full-name .container {
    width: 470px;
  }

  .full-name__input {
    margin-bottom: 55px;
  }

  .full-name__input-surname {
    width: 336px;
  }

  .full-name__input-name {
    width: 376px;
  }

  .full-name__input-middle-name {
    width: 337px;
  }
}
