.information {
  padding-top: 40px;

  background-image: linear-gradient(175deg, $white-color, $white-color 250px, #f2f2f2 250px, #f2f2f2 100%);
}

.information .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information__study-scientists {
  display: none;
}

.information__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information__title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-family: 'OpenSans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $dark-blue-color;
  text-align: center;
}

.information__title:last-child {
  margin-bottom: 110px;
}

.information__advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.information__item {
  text-align: center;
}

.information__seo {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;

  @include font-title();
}

.information__text {
  padding: 0;
  margin: 0;
  margin: 30px;

  @include font-description();
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .information__title {
    margin-bottom: 0;

    @include header-promo-title();
    color: $dark-blue-color;
  }

  .information__caption .information__title:nth-child(2) {
    width: 320px;
  }

  .information__advantage {
    display: flex;
    width: 310px;
    margin-left: auto;
  }

  .information__seo {
    text-align: left;
  }

  .information__text {
    margin: 12px 0 35px 0;

    text-align: left;
  }

  .information__iphone-image {
    position: absolute;
    top: 250px;
    left: 100px;
  }

  .information__study-scientists {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
  }

  .information__study-title {
    width: 160px;
    padding-right: 150px;

    @include font-title-bold();
  }

  .information__study-text {
    width: 265px;
    padding-right: 45px;

    @include font-description-light();
    color: $black-color;
    text-align: left;
  }

  .information__study-link {
    width: 310px;
    margin-bottom: 130px;

    @include font-description-light();
    color: $red-color;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .information__caption .information__title:nth-child(2) {
    width: 420px;
  }

  .information__advantage {
    width: 872px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 33px;
    padding-right: 35px;
  }

  .information__item {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding-top: 350px;
    margin-right: 70px;
  }

  .information__advantage .information__item:nth-child(3n) {
    margin-right: 0;
  }

  .information__iphone-image {
    display: none;
  }

  .information__study-title {
    width: 305px;
    padding-right: 270px;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .information__study-text {
    width: 530px;
  }

  .information__study-link {
    width: 570px;
  }
}
