.main-header {
  background-color: rgb(29, 38, 49);
}

.main-header__navigation {
  display: flex;
  flex-direction: column;
  background-color: rgba(29, 38, 49, 0.3);
}

.main-header__navigation .container {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 25px;
}

.main-header__logo {
}

.main-header__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.main-header__item {
  display: flex;
  justify-content: center;

  background-color: $dark-blue-color;

  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.main-header__link {
  padding: 15px 0;
  @include font-link();
  text-align: center;
}

@media (min-width: $desktop-width) {
  .main-header__navigation {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .main-header__navigation .container {
    width: 300px;
    padding: 0;
    margin: 0;
  }

  .main-header__toogle {
    display: none;
  }

  .main-header__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 620px;
  }

  .main-header__item {
    width: 155px;
    background-color: rgba(255, 255, 255, 0);
    border: none;

    text-align: right;
  }
}
