.os {
  padding: 35px 0 40px 0;
  margin: 0;

  background-color: #f2f2f2;

  border: none;
}

.os .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.os__title {
  width: 180px;
  margin: 0 50px 35px 50px;

  @include font-form-title();
  text-align: center;
}

.os__radio {
  margin: 0 31px 36px 0;
}

.os__input-description {
  width: 210px;

  @include font-form-input-description();
}

@media (min-width: $tablet-width) {
  .os {
    margin: 0 auto;
    margin-bottom: 60px;

    background-color: $white-color;
    border-left: 2px solid $gray-color;
    border-right: 2px solid $gray-color;
    border-bottom: 2px solid $gray-color;

    order: -18;
  }

  .os .container {
    margin-top: -50px;
    align-items: flex-start;
  }

  .os__radio {
    width: 39px;
    min-height: 39px;
    margin: 0 22px 0 0;
  }

  .os__title {
    width: 330px;
    padding: 0 145px;
    margin: 0 0 45px 0;
  }

  .os__input-description {
    width: 500px;
    padding: 5px 0 0 0;
    margin: 0 0 36px 0;
  }
}

@media (min-width: $desktop-width) {
  .os {
    width: 430px;
    padding-bottom: 25px;
  }
  .os .container {
    width: 430px;
  }

  .os__title {
    width: 330px;
    padding: 0 51px;
  }

  .os__input-description {
    width: 320px;
  }
}
