.photo-content {
  padding: 50px 0 0 0;
  background-color: $white-color;
}

.photo-content .container {
  display: flex;
  flex-direction: column;
}

.photo-content__panorama {
  display: none;
  margin: 0 auto;
}

.mobile-panorama {
  display: flex;
}

.photo-content__title {
  width: 242px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 55px;

  @include font-description();
  text-align: center;
}

@media (min-width: $tablet-width) {
  .photo-content .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .photo-content__panorama {
    display: none;
  }

  .tablet-panorama {
    display: flex;
  }

  .photo-content__title {
    width: 436px;
  }
}

@media (min-width: $desktop-width) {
  .photo-content__panorama {
    display: none;
  }

  .desktop-panorama {
    display: flex;
  }
}
