.photo-with-comment {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .photo-with-comment {
    width: 300px;
  }

  .photo-with-comment .container {
    width: 300px;
  }
}
