.photo-intro {
  padding: 30px 0 80px 0;
  background-image: url('../../img/bg-back-mobile@2x.jpg');
}

.photo-intro__title {
  padding: 0;
  margin: 0;

  @include font-title-light();
  text-align: center;
}
