.price {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 400px 0 0 0;
  background-color: #f2f2f2;

  text-align: center;
  overflow: hidden;
}

.price__tariff-tables {
  position: absolute;
  top: 50px;
  left: -543px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.price__slider_btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .price {
    padding: 20px 0 0 0;
  }

  .price__tariff-tables {
    position: static;
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .price__slider {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price__tariff-tables {
    width: 940px;
    padding: 0 10px;
    margin: 0 0 95px 0;
  }
}
