.price-table {
  background-color: $white-color;
}

.price-table__table-row {
  display: flex;
  width: 276px;
}

.price-table__tariff-title {
  background-color: $dark-blue-color;
}

.price-table__tariff-name {
  @include font-title();
  line-height: 30px;
  color: $white-color;
  text-transform: lowercase;
}

.price-table__tariff-price {
  padding: 6px 0 0 0;
  margin: 0 0 20px 0;

  @include font-description-light();
  font-size: 24px;
  line-height: 30px;
}

.price-table__table-data {
  width: 100%;
  padding: 0;
  margin: 0;
}

.price-table__tariff-parameter {
  padding: 15px 0 15px 25px;
  margin: 0;

  @include font-description();
  text-transform: uppercase;
  text-align: left;
}

.price-table__available-in-tariff,
.price-table__not-available-in-tariff {
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .price-table__in-tariff .price-table__tariff-parameter {
    text-transform: capitalize;
  }

  .price-table__table-data {
    display: flex;
    flex-direction: column;
  }

.price-table__table-row {
    width: 153px;
  }

  .tariff-table .price-table__tariff-parameter {
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .price-table__table-row {
      width: 234px;
    }

  .price-table__tariff-name {
    padding: 10px 0 0 0;
    text-transform: uppercase;
  }
}
