.promo {
  z-index: 10;
  background-image: url(../img/bg-back-desktop@1x.jpg);
  background-position: -328px 0;
}

.promo .container {
  position: relative;
  display: flex;
}

.promo__seo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.promo__title {
  display: none;
}

.promo__list-os {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 205px;
  min-height: 56px;
  padding: 0;
  margin: 0 0 55px 0;
}

.list-os__item-apple {
  width: 47px;
  min-height: 56px;
  background-image: url(../img/logo-apple.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.list-os__item-android {
  width: 43px;
  min-height: 47px;
  background-image: url(../img/logo-android.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.list-os__item-windows {
  width: 44px;
  min-height: 41px;
  background-image: url(../img/logo-microsoft.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.promo__item {
  font-size: 0;
}

.promo__preview-image {
  display: none;
  padding: 109px 0 0 0;
  margin-bottom: 28px;
}

.promo-image-mobile {
  display: flex;
}

.promo__download-app-link {
  width: 100%;
  padding: 15px 0;
  margin: 0 0 46px 0;

  @include font-link();
  line-height: 18px;
  text-align: center;

  border-radius: 25px;
  border: 3px solid $white-color;
}

.promo__os-description {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  @include font-description();
  color: $white-color;

  text-align: center;
}

.promo__list-os {
  display: flex;
  justify-content: space-between;
  width: 205px;
  padding: 0;
  margin: 0 0 24px 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .promo {
    padding: 205px 0 0 0;
    position: relative;
    top: -110px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .promo__title {
    width: 190px;
    padding: 0;
    margin: 0 0 37px 0;
    display: flex;
    @include header-promo-title();
    text-align: center;
  }

  .promo__preview-image {
    display: none;
    position: absolute;
    top: -130px;
    left: -20px;
    z-index: 2;
  }

  .promo__list-os {
    margin-bottom: 35px;
  }

  .promo__os-description {
    margin-bottom: 101px;
  }

  .promo-image-tablet {
    display: flex;
  }

  .promo__seo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    z-index: 5;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 110px 0 0 0;
  }

  .promo__title {
    padding: 110px 0 0 0;
    margin: 0 0 50px 0;
    width: 230px;
    text-align: center;
    line-height: 60px;
  }

  .promo__download-app-link {
    width: 295px;
    margin-bottom: 67px;
  }

  .promo__preview-image {
    display: none;
  }

  .promo-image-desktop {
    display: flex;
    position: absolute;
    top: -11px;
    left: 26px;
    z-index: 2;
  }

  .promo__os-description {
    margin-bottom: 111px;
  }
}
