.request-popup {
  display: flex;
}

.request-popup .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-popup__title {
  width: 100%;
  margin: 0 0 30px 0;
  @include font-title();
  text-align: center;
}

.request-popup__description {
  width: 265px;
  padding: 0;
  margin: 0 0 80px 0;

  @include font-description();
  line-height: 24px;
  text-align: center;
}

.request-popup__close-btn  {
  width: 100%;
  @include font-link();

  background-color: $green-color;
}

@media (min-width: $tablet-width) {
  .request-popup {
    width: 460px;
  }

  .request-popup .container {
    width: 320px;
  }

  .request-popup__title {
    width: 200px;
    margin: 0 0 25px 0;
  }
}

@media (min-width: $desktop-width) {
  .request-popup {
    width: 780px;
  }

  .request-popup .container {
    width: 350px;
  }

  .request-popup__title {
    width: 330px;
    margin: 0 0 30px 0;
  }

  .request-popup__close-btn  {
    width: 300px;
  }

}
