.review {
  background-image: linear-gradient(175deg, $white-color, $white-color 377px, #f2f2f2 377px, #f2f2f2 100%);
}

.review .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__slider {
  width: 70px;
}

.review__slider__slide-btn {
  display: none;
}

@media (min-width: $desktop-width) {
  .review__slider {
    display: none;
  }
}
