.upload-photo {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.upload-photo__title {
  width: 254px;
  padding: 47px 15px 47px 12px;
  margin: 0;

  background-color: $white-color;
  @include font-description();
  text-align: center;
}

.upload-photo__upload {
  @include font-link();
  line-height: 18px;
  color: $red-color;
}

.upload-photo__cancel-upload {
  @include font-link();
  line-height: 18px;
  color: $dark-blue-color;

  opacity: 0.1;
}

@media (min-width: $tablet-width) {
  .upload-photo {
    background-color: #ffffff;
  }

  .upload-photo__title {
    width: 425px;
    margin: 0 auto;
  }

  .upload-photo__upload {
    width: 259px;
    margin: 0 auto;
  }

  .upload-photo__cancel-upload {
    width: 259px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .upload-photo__upload {
    width: 180px;
    margin-right: 44px;
  }

  .upload-photo__cancel-upload {
    width: 180px;
  }
}
