.your-contacts {
  padding: 38px 0 0 0;
  margin: 0;

  border: none;
}

.your-contacts .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.your-contacts__title {
  display: none;
}

.your-contacts__input-description {
  width: 100%;
  padding: 0 0 0 23px;
  margin: 0 0 10px 0;

  @include font-form-title();
}

.your-contacts__input {
  width: 100%;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .your-contacts {
    margin: 0 auto;
    margin-bottom: 60px;

    background-color: $white-color;
    border-left: 2px solid $gray-color;
    border-right: 2px solid $gray-color;
    border-bottom: 2px solid $gray-color;

    order: -17;
  }

  .your-contacts .container {
    margin-top: -50px;
    align-items: flex-start;
  }

  .your-contacts__title {
    display: flex;
    margin-bottom: 40px;

    @include font-form-title();

    order: -21;
  }

  .your-contacts__input {
    margin: 0;
  }

  .your-contacts__input-description {
    padding: 7px 0 0 20px;
    margin: 0 0 35px 0;
  }

  .phone-number-input {
    order: -20;
  }

  .phone-number-description {
    order: -19;
  }

  .email-input {
    order: -18;
  }

  .email-description {
    order: -17;
  }
}

@media (min-width: $desktop-width) {
  .your-contacts__title {
    width: 200px;
    padding: 0 370px;
  }

  .your-contacts__input {
    width: 375px;
  }

  .phone-number-input {
    margin-right: 70px;
    order: -20;
  }

  .phone-number-description {
    margin-right: 34px;
    order: -18;
  }

  .email-input {
    order: -19;
  }

  .email-description {
    order: -17;
  }

  .your-contacts__input-description {
    width: 410px;
  }
}
