@mixin font-link() {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: $white-color;

  text-decoration: none;
}

@mixin font-description-light() {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $white-color;
}

@mixin font-title() {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

@mixin font-title-light() {
  font-family: 'OpenSans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $white-color;
}

@mixin font-description() {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $dark-blue-color;
}

@mixin font-contacts-link() {
  font-family: 'OpenSans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $red-color;

  text-decoration: none;
}

@mixin header-promo-title() {
  font-family: 'OpenSans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 45px;
  color: $white-color;
}

@mixin font-form-title() {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $red-color;

  text-transform: uppercase;
}

@mixin font-title-bold() {
  font-family: 'OpenSans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: $black-color;
}

@mixin font-form-input-description() {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $dark-blue-color;
}
